
html
  background-color: $hl
  color: $fg
  //margin: 1em

body
  background-color: $bg
  margin-left: 23%
  max-width: 100%
  //border: 1pt solid $comment
  padding: 1em

code
  background-color: $hl
  padding: 2px

a
  color: $yellow

a:visited
  color: $orange

a:hover
  color: $orange

h1
  color: $magenta

h2,h3,h4,h5,h6
  color: $green

pre
  background-color: $bg
  color: $fg
  border: 1pt solid $comment
  padding: 1em
  box-shadow: 5pt 5pt 8pt $hl
  code
    background-color: @background-color

pre.src:before
  background-color: $bg
  display: block
  position: absolute
  top: 0
  right: 0
  padding 0.25em 0.5em
  border-bottom-left-radius: 8px
  color: $green
  border-style: solid
  border-width: 1pt
  border-color: $comment
  font-size: 80%

@import "src-content"

h1
  font-size: 2.8em
h2
  font-size: 2.4em
h3
  font-size: 1.8em
h4
  font-size: 1.4em
h5
  font-size: 1.3em
h6
  font-size: 1.15em


table
    width: 100%


table, th, td
    border: 1px solid $comment


th, td
    padding: 0.25em
    text-align: left


tbody tr:nth-child(odd)
    background-color: $hl


#table-of-contents
  line-height: 1.2
  background-color: $hl

#table-of-contents h2
  border-bottom: 0


#table-of-contents ul
  list-style: none
  padding-left:0
  font-weight: normal


#table-of-contents div>ul>li
  margin-top: 1em
  font-weight: bold


#table-of-contents .tag
  display: none


#table-of-contents .todo,
#table-of-contents .done
  font-size: 80%


#table-of-contents ol>li
  margin-top: 1em
