pre.src-plantuml:before
    content: "UML"

pre.src-javascript:before
    content: "JS"

pre.src-clojure:before
    content: "CLJ"

pre.src-c:before
    content: "C"

pre.src-elisp:before
    content: "Elisp"

pre.src-python:before
    content: "Python"

pre.src-r:before
    content: "R"

pre.src-sh:before
    content: "sh"
